/*-------- GLOBAL STYLES ---------*/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #222;
    font-size: 1.6rem;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: #222;
}

/*-------- TYPOGRAPHY ---------*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.1rem;
}

/*-------- UTILITY ---------*/

.content-width {
    padding: 20px;
}

/*-------- HEADER ---------*/

header {
    display: flex;
    justify-content: space-between;
}

header a {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
}

header > a {
    padding: 8.5px 0;
}

header img {
    height: 60px;
}

header .toggle {
    /* Increases icon size */
    font-size: 3rem;
}

header nav {
    text-align: right;
    padding: 16px 0;
}

header nav ul {
    /* Hides nav items until icon is clicked */
    display: none;
    line-height: 2.5;
    padding: 0;
}

header li {
    list-style-type: none;
}

header .nav-select {
    display: inline-block;
    background: #283618;
    color: #FEFAE0;
    padding: 15px 30px;
}

.show-items {
    display: flex;
    flex-direction: column;
}