/*-------- VARIABLES ---------*/

:root {
    --accent-color: #ff9419;
    --bg-color: #ececec;
    --dark-color: #222;
    --primary-color: #495F2B;
    --white: #fff;
}

/*-------- GLOBAL STYLES ---------*/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--dark-color);
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: #222;
}

/*-------- TYPOGRAPHY ---------*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    border-bottom: 1px solid var(--primary-color);
    font-size: 3rem;
    padding-bottom: 5%;
    text-transform: uppercase;
}

h3 {
    margin-top: 30px;
}

h3, h4 {
    font-size: 2.1rem;
}

a.button {
    /* layout */
    display: inline-block;
    margin: 26px 0;
    padding: 12px 48px;
    /* UI */
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white);
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
  }

img {
    border-radius: 8px;
}

/*-------- UTILITY ---------*/

.card {
    background: var(--white);
    border-radius: 8px;
    padding: 5%;
}

.content-width {
    padding: 5vw;
}

/*-------- HEADER ---------*/

header {
    display: flex;
    justify-content: space-between;
}

header a {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
}

header > a {
    padding: 8.5px 0;
}

header img {
    height: 60px;
}

header .toggle {
    /* Increases icon size */
    font-size: 3rem;
    color: var(--dark-color);
}

header nav {
    padding: 16px 0;
    text-align: right;
}

header nav ul {
    /* Hides nav items until icon is clicked */
    display: none;
    line-height: 2.5;
    padding: 0;
}

header li {
    list-style-type: none;
}

header .nav-select {
    background: var(--primary-color);
    color: var(--bg-color);
    display: inline-block;
    padding: 15px 30px;
}

.show-items {
    display: flex;
    flex-direction: column;
}

/*-------- HERO ---------*/

.hero {
    background-image: url("images/hero.jpg");
    background-size: 100%;
    color: var(--white);
    text-align: center;
}

/*-------- ABOUT ---------*/

.about {
    background-color: var(--white);
}

.about h2 {
    margin-bottom: 0;
}

.about-flex {
    display: flex;
    flex-direction: column;
}

.about img {
    margin-top: 10vw;
}

.video iframe {
    height: auto;
    width: 100vw;
}

/*-------- MARKETS ---------*/

.markets h3 {
    text-align: center;
}

.markets-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    text-align: center;
}

.markets-flex img {
    height: 40vh;
    width: 100%;
}

.markets-flex h3 {
    text-transform: uppercase;
}

/*-------- DIRECTIONS ---------*/

.directions {
    background-color: var(--white);
}

.directions iframe {
    width: 100%;
}

/*-------- CALL-TO-ACTION ---------*/

.newsletter {
    background-image: url(images/market-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter h2 {
    color: var(--bg-color);
    border: none;
    padding: 0;
}

section form {
    margin: 0 auto;
}

section form legend {
    font: 2.1rem "Lato", sans-serif;
}

legend, input {
    margin-bottom: 30px;
    width: 100%;
}

input {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
}

.wrapper-button {
    display: flex;
    justify-content: space-between;
}

input[type="reset"] {
    /* layout */
    padding: 12px 20px;
    width: auto;
    /* UI */
    background-color: var(--white);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    color: var(--primary-color);
    cursor: pointer;
}

/* turns button a different color while hovering */
input[type="reset"]:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

input[type="submit"] {
    /* layout */
    padding: 12px 20px;
    width: auto;
    /* UI */
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
}

/* turns button a different color while hovering */
input[type="submit"]:hover {
    background-color: #567032;
}

/*-------- FOOTER ---------*/

footer {
    background-color: var(--dark-color);
    color: var(--white);
}

footer img {
    width: 100px;
    height: auto;
}

footer h2 {
    border-bottom: none;
    font-size: 2.1rem;
}

footer ul li {
    list-style-type: none;
}

footer ul a {
    color: var(--white);
    text-decoration: none;
}

.footer-border {
    border-left: 5px solid var(--primary-color);
}